.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  padding: 8px;
  font-family: "Century Gothic";
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-items: flex-start; */
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin: 4px;
  padding: 4px;
  border: solid 1px black;
  border-radius: 12px;
  font-size: larger;
  font-weight: 900;
  background-color: #8885c0;
}

.subheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88vw;
  margin: 4px;
  padding: 4px;
  border: solid 1px black;
  border-radius: 12px;
  font-size: large;
  font-weight: bold;
  background-color: #aaaaaa;
}

.subsubheading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 86vw;
  margin: 4px;
  padding: 4px;
  border: solid 1px black;
  border-radius: 12px;
  font-size: large;
  font-weight: bold;
  background-color: #ff99ff;
}

.line {
  font-size: larger;
  width: 84vw;
  margin: 4px;
  padding: 16px;
  border: solid 1px black;
  border-radius: 12px;
  background-color: #66ccff;
}

.search {
  width: 80vw;
  padding: 4px;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding: 4px;
}
